h6 {
	font-size: 16px;
	line-height: 34px;
}

.book-item {
	display: inline;
	height:100%;
  }

p {
	font-size: 12px;
	line-height: 34px;
}

.homepage-carousel-title {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
  }
