.genre-icon {
    background-color: white;
    float: right;
    border: 1px solid grey;
    padding: 0.5rem;
    position: relative;
    height: 20%;
    width: 20%;
    z-index: +1;
    margin: 8px;
}
