
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"),
    url("./fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format("truetype");
}

body {
  font-family: "SpaceGrotesk", sans-serif;
  line-height: 1.75em;
}

	
a[href] {
	/*color: #14191a;*/
	font-size: 20px;
}


img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}

@media (min-width: 412px) {
	body {
		font-size: 5px;
	}
}
